
<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="nav navbar-nav">
        <a class="animate__animated animate__bounce" class="nav-item nav-link active" href="#" aria-current="page">Sistema
          <span class="visually-hidden">(current)</span>
        </a>
        <a class="animate__animated animate__bounce" class="nav-item nav-link" href="#">Listar empleado</a>
    </div>
</nav>

<nav>
  <a [routerLink]="['/Agregar-Empleado']">
    Agregar empleado
  </a>
  -
  <a [routerLink]="['/Editar-Empleado']">
    Editar Empleado
  </a>
  -
  <a [routerLink]="['/Listar-Empleado']">
    Listar Empleado
  </a>
</nav>
